package layout

import "github/mauljurassicia/nutrifeat/presentation/view/components"

templ DashboardLayout() {
	@BasicLayout() {
		<div class="w-full h-screen">
			@components.Topbar()
			<div class="w-full flex">
				@components.Sidebar()
				<main class="p-6 flex-1 h-[calc(100vh-5rem)] overflow-y-scroll">
					{ children... }
				</main>
			</div>
		</div>
	}
}
